.red {
    background-color: rgb(255, 53, 53);
    border-right: 2px solid #ac0606;
    border-bottom: 2px solid #ac0606;
    &:hover {
        background-color: #ff7a7a;
    }   
}

.green {
    background-color: rgb(0, 171, 26);
    border-right: 2px solid rgb(0, 92, 14);
    border-bottom: 2px solid rgb(0, 92, 14);
    &:hover {
        background-color: rgb(107, 203, 135);
    }   
}

.orange {
    background-color: rgb(255, 179, 0);
    border-right: 2px solid rgb(162, 113, 0);
    border-bottom: 2px solid rgb(162, 113, 0);
    &:hover {
        background-color: rgb(255, 224, 122);
    }   
}