@import "./colors.scss";

.form-row {
    padding:0.5em;
}

form {
    margin-top:1em;
    margin-bottom:1em;
}

input {
    margin:10px;
}

input[type='text'] {
  margin-right: 1em;
  background-color: rgb(116, 116, 116);
  color:rgb(255, 255, 255)
}

input[type=submit] {
  @extend .green;
  color: rgb(255, 255, 255);
  padding:8px 15px;  
  cursor:pointer;
  font-size:1em;
  border-top: 0;
  border-left: 0;
}

select {
  margin-right: 1em;
  background-color: rgb(116, 116, 116);
  color:rgb(255, 255, 255);
  border: 2px;
  border-color: rgb(0, 0, 0);
  size: 10;
}

input {
  font-size:1em;
}

.cancel {
  @extend .red;
  display:inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 17px;
}

.addShow {
  @extend .green;
  display:inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 17px;
}