
#hd {
    background-color: rgb(35, 35, 35);
    padding: 0.5em;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0.5em 1em rgb(14, 14, 14);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgb(133, 133, 133);
    text-align: center;
}

a {
    color: #67cfff;
    text-decoration: none;
}

errorMsg {
    color: red;
}

#ft {
    width: 100%;
    display: inline-block;
  }

.nav {
    background-color: rgb(66, 66, 66);
    border-bottom: 1px solid #ccc;
    text-align: center;
    overflow: hidden;
    margin: 0;
    li {
        display: inline;
        font-size: 17px;
    
        a {
            color: #ffffff;
            text-decoration: none;
            padding: 14px;
            &:hover {
                background-color: rgb(122, 122, 122);
            }
        }
    }
}

