@import "./colors.scss";

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 0.5rem;
    a {
        color: rgb(9, 52, 206);
        text-decoration: none;
        width:100%;
        height:100%;
        padding:14px;
    }

}

tr {
    &:nth-child(even) {
        background-color: rgb(98, 98, 98);
        color: rgb(255, 255, 255);
    }
    &:nth-child(odd) {
        background-color: rgb(173, 173, 173);
        color: rgb(0, 0, 0);
    }
    &:hover {
        background-color: #7f7f7f;
    }
}


th {
    padding: 0.5rem;
    border-bottom: 2px solid rgb(0, 24, 110);
    text-align: center;
    background-color: rgb(0, 40, 182);
    color: white;
}

.remove {
    @extend .red;
    padding:0;
    a {
        width:100%;
        height:100%;
        color: white;
    }
}

.add {
    @extend .green;
    padding:0;
    a {
        width:100%;
        height:100%;
        color: rgb(255, 255, 255);
    }
    span {
        margin:14px;
        width:200%;
        height:200%;
    }
}

.edit {
    @extend .orange;
    padding:0;
    a {
        width:100%;
        height:100%;
        color: rgb(255, 255, 255);
    } 
}