<!doctype html>
<html>
<head>
<title></title>
<link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
<div id="wrapper">
<div id="hd">
{{#if user}}
<div>Welcome, {{user.username}}! (<a href="/logout">Logout</a>)
</div> 
{{/if}}
	<h1>It's Showtime!</h1>
</div>
<div id="ft">
{{!-- {{#if user}} --}}
	<a href="/">Home</a> | 
	<a href="/shows/">Your Shows</a> | 
	<a href="/shows/create">Create a Show</a>
{{!-- {{/if}} --}}
</div><br><br>
<div id="bd">
{{{body}}}
</div>
</div>
</body>
</html>
