Shows:
<br><br>
<table>
    <tr>
        <th>Title</th>
        <th>Release Date</th>

    </tr>
{{#each shows}}
<tr>
    <td>{{this.name}}</td>
    <td>{{this.year}}</td>
    <td> 
        <a href="/shows/edit-show/{{this.id}}">Edit</a>
    </td>
    <td> 
        <a href="/shows/delete/{{this.id}}">Delete</a>
    </td>
</tr>
{{/each}}