.red, .cancel {
  background-color: #ff3535;
  border-right: 2px solid #ac0606;
  border-bottom: 2px solid #ac0606; }
  .red:hover, .cancel:hover {
    background-color: #ff7a7a; }

.green, input[type=submit], .addShow {
  background-color: #00ab1a;
  border-right: 2px solid #005c0e;
  border-bottom: 2px solid #005c0e; }
  .green:hover, input:hover[type=submit], .addShow:hover {
    background-color: #6bcb87; }

.orange {
  background-color: #ffb300;
  border-right: 2px solid #a27100;
  border-bottom: 2px solid #a27100; }
  .orange:hover {
    background-color: #ffe07a; }

.form-row {
  padding: 0.5em; }

form {
  margin-top: 1em;
  margin-bottom: 1em; }

input {
  margin: 10px; }

input[type='text'] {
  margin-right: 1em;
  background-color: #747474;
  color: white; }

input[type=submit] {
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 1em;
  border-top: 0;
  border-left: 0; }

select {
  margin-right: 1em;
  background-color: #747474;
  color: white; }

input {
  font-size: 1em; }

.cancel {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 17px; }

.addShow {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 17px; }
