
.form-row {
    padding:0.5em;
}

form {
    margin-top:1em;
    margin-bottom:1em;
}

input[type='checkbox'] {
  margin-right: 1em;
}

input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  font-size:1em;
}

input {
  font-size:1em;
}

input[type=submit]:hover {
  background-color: #0073AA;
  color: white;
}

errorMsg {
  color: red;
}