td {
  padding: 0.5rem; }

tr:nth-child(even) {
  background-color: #8bbfff; }

tr:hover {
  background-color: #9cabff; }

th {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  text-align: left;
  background-color: #6300af;
  color: white; }
