.red, .remove {
  background-color: #ff3535;
  border-right: 2px solid #ac0606;
  border-bottom: 2px solid #ac0606; }
  .red:hover, .remove:hover {
    background-color: #ff7a7a; }

.green, .add {
  background-color: #00ab1a;
  border-right: 2px solid #005c0e;
  border-bottom: 2px solid #005c0e; }
  .green:hover, .add:hover {
    background-color: #6bcb87; }

.orange, .edit {
  background-color: #ffb300;
  border-right: 2px solid #a27100;
  border-bottom: 2px solid #a27100; }
  .orange:hover, .edit:hover {
    background-color: #ffe07a; }

table {
  margin-left: auto;
  margin-right: auto; }

td {
  padding: 0.5rem; }
  td a {
    color: #0934ce;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 14px; }

tr:nth-child(even) {
  background-color: #626262;
  color: white; }

tr:nth-child(odd) {
  background-color: #adadad;
  color: black; }

tr:hover {
  background-color: #7f7f7f; }

th {
  padding: 0.5rem;
  border-bottom: 2px solid #00186e;
  text-align: center;
  background-color: #0028b6;
  color: white; }

.remove {
  padding: 0; }
  .remove a {
    width: 100%;
    height: 100%;
    color: white; }

.add {
  padding: 0; }
  .add a {
    width: 100%;
    height: 100%;
    color: white; }
  .add span {
    margin: 14px;
    width: 200%;
    height: 200%; }

.edit {
  padding: 0; }
  .edit a {
    width: 100%;
    height: 100%;
    color: white; }
