.red {
  background-color: #ff3535;
  border-right: 2px solid #ac0606;
  border-bottom: 2px solid #ac0606; }
  .red:hover {
    background-color: #ff7a7a; }

.green {
  background-color: #00ab1a;
  border-right: 2px solid #005c0e;
  border-bottom: 2px solid #005c0e; }
  .green:hover {
    background-color: #6bcb87; }

.orange {
  background-color: #ffb300;
  border-right: 2px solid #a27100;
  border-bottom: 2px solid #a27100; }
  .orange:hover {
    background-color: #ffe07a; }

.red, .cancel {
  background-color: #ff3535;
  border-right: 2px solid #ac0606;
  border-bottom: 2px solid #ac0606; }
  .red:hover, .cancel:hover {
    background-color: #ff7a7a; }

.green, input[type=submit], .addShow {
  background-color: #00ab1a;
  border-right: 2px solid #005c0e;
  border-bottom: 2px solid #005c0e; }
  .green:hover, input:hover[type=submit], .addShow:hover {
    background-color: #6bcb87; }

.orange {
  background-color: #ffb300;
  border-right: 2px solid #a27100;
  border-bottom: 2px solid #a27100; }
  .orange:hover {
    background-color: #ffe07a; }

.form-row {
  padding: 0.5em; }

form {
  margin-top: 1em;
  margin-bottom: 1em; }

input {
  margin: 10px; }

input[type='text'] {
  margin-right: 1em;
  background-color: #747474;
  color: white; }

input[type=submit] {
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 1em;
  border-top: 0;
  border-left: 0; }

select {
  margin-right: 1em;
  background-color: #747474;
  color: white; }

input {
  font-size: 1em; }

.cancel {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 17px; }

.addShow {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px 17px; }


#wrapper {
	width:500px;
	padding:2em;
  	background-color:#eee;
}

#grocery-list {
	background-color:#ddd;
	padding: 1em;
}

#grocery-list li {
	list-style-type: none;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

#grocery-list li.checked {
	text-decoration: line-through;
	padding: 0.25em 0.25em 0.25em 1.5em;
}

.qty {
	width: 3em;
}
#hd {
  background-color: #232323;
  padding: 0.5em;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0.5em 1em #0e0e0e; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #858585;
  text-align: center; }

a {
  color: #67cfff;
  text-decoration: none; }

errorMsg {
  color: red; }

#ft {
  width: 100%;
  display: inline-block; }

.nav {
  background-color: #424242;
  border-bottom: 1px solid #ccc;
  text-align: center;
  overflow: hidden;
  margin: 0; }
  .nav li {
    display: inline;
    font-size: 17px; }
    .nav li a {
      color: #ffffff;
      text-decoration: none;
      padding: 14px; }
      .nav li a:hover {
        background-color: #7a7a7a; }

.red, .remove {
  background-color: #ff3535;
  border-right: 2px solid #ac0606;
  border-bottom: 2px solid #ac0606; }
  .red:hover, .remove:hover {
    background-color: #ff7a7a; }

.green, .add {
  background-color: #00ab1a;
  border-right: 2px solid #005c0e;
  border-bottom: 2px solid #005c0e; }
  .green:hover, .add:hover {
    background-color: #6bcb87; }

.orange, .edit {
  background-color: #ffb300;
  border-right: 2px solid #a27100;
  border-bottom: 2px solid #a27100; }
  .orange:hover, .edit:hover {
    background-color: #ffe07a; }

table {
  margin-left: auto;
  margin-right: auto; }

td {
  padding: 0.5rem; }
  td a {
    color: #0934ce;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 14px; }

tr:nth-child(even) {
  background-color: #626262;
  color: white; }

tr:nth-child(odd) {
  background-color: #adadad;
  color: black; }

tr:hover {
  background-color: #7f7f7f; }

th {
  padding: 0.5rem;
  border-bottom: 2px solid #00186e;
  text-align: center;
  background-color: #0028b6;
  color: white; }

.remove {
  padding: 0; }
  .remove a {
    width: 100%;
    height: 100%;
    color: white; }

.add {
  padding: 0; }
  .add a {
    width: 100%;
    height: 100%;
    color: white; }
  .add span {
    margin: 14px;
    width: 200%;
    height: 200%; }

.edit {
  padding: 0; }
  .edit a {
    width: 100%;
    height: 100%;
    color: white; }
