.form-row {
  padding: 0.5em; }

form {
  margin-top: 1em;
  margin-bottom: 1em; }

input[type='checkbox'] {
  margin-right: 1em; }

input[type=submit] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  font-size: 1em; }

input {
  font-size: 1em; }

input[type=submit]:hover {
  background-color: #0073AA;
  color: white; }


#wrapper {
	width:500px;
	padding:2em;
  	background-color:#eee;
}

#grocery-list {
	background-color:#ddd;
	padding: 1em;
}

#grocery-list li {
	list-style-type: none;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

#grocery-list li.checked {
	text-decoration: line-through;
	padding: 0.25em 0.25em 0.25em 1.5em;
}

.qty {
	width: 3em;
}
#hd {
  background-color: #232323;
  padding: 0.5em;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 0.5em 1em #0e0e0e; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #858585;
  text-align: center; }

a {
  color: #67cfff;
  text-decoration: none; }

errorMsg {
  color: red; }

#ft {
  width: 100%;
  display: inline-block; }

.nav {
  background-color: #424242;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 1rem;
  text-align: center; }
  .nav li {
    display: inline;
    font-family: "Fira Sans", sans-serif;
    font-size: 17px; }
    .nav li a {
      color: #c1ebff;
      text-decoration: none; }
      .nav li a:hover {
        background-color: #7a7a7a; }

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%; }
  nav ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 15px; }
    nav ul li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px; }
      nav ul li a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px; }
        nav ul li a:hover {
          background-color: #111; }

table {
  align-items: center;
  margin-left: auto;
  margin-right: auto; }

td {
  padding: 0.5rem; }
  td a {
    color: #0028b6;
    text-decoration: none; }

tr:nth-child(even) {
  background-color: #626262;
  color: white; }

tr:nth-child(odd) {
  background-color: #adadad;
  color: black; }

tr:hover {
  background-color: #7f7f7f; }

th {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  text-align: left;
  background-color: #0028b6;
  color: white; }

.remove {
  background-color: #ff3535; }
  .remove a {
    color: white; }
  .remove:hover {
    background-color: #ff7a7a; }
